@media screen  and (min-width: 577px){
  
    .restaurants-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .restaurants-cards .box-restaurant {
      width: 42%;
      height: 36vw;
      margin: 10px 15px;
    }
    
   }

   
  @media screen  and (min-width: 768px) {
    header .logo-home {
      width: 50%;
    }
    #functionning ul li::before {
      left: -2%;
      top: 29%;
    }
    .restaurants-cards .box-restaurant {
      width: 42%;
      height: 30vw;
      margin: 10px 15px;
    }
    #background-image {
      -o-object-fit: cover;
      object-fit: cover;
      height: 350px;
    }
    .restaurant-title{
      margin-left: 3%;
    }
    #button-commander{
      margin-left: 37%;
    }
    footer {
      text-align: center;
    }
    
    }


    @media screen and (min-width: 1156px){
      
      header .logo-home {
        width: 30%;
      }
      .searchfield {
        width: 150px;
      }
      .search-button {
        font-size: 1rem;
      }
      form input{
        font-size: 1rem;
      }
      #functionning ul {
        flex-direction: row;
        align-items: center;
        display: flex;
        
       }
       #functionning ul li::before {
        left: -3%;
        top: 29%;
      }
      .restaurants .box-restaurant {
        height: 20vw;
      }
      .box-restaurant:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
      .restaurant-title {
        font-size: 1.8em;
      }
      .menu-detail {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        margin-left: 1%;
      }
      #button-commander{
        margin-left: 41%;
        margin-top: 3%;
      }
      footer{
        font-size: 1.1rem;
      }
      
      }
  
  
    
    @media screen and (min-width: 1440px) {
      #search form .searchfield {
        width: 17vw;
        padding: 2vw 2vw;
        font-size: 1.3rem;
      }
     
      #search .search-title {
        font-size: 1.9rem;
      }
      #search .search-subtitle {
        font-size: 1.25rem;
      }
      #search .search-button {
        font-size: 1.2rem;
      }
      #functionning h2 {
        font-size: 1.9rem;
      }
      #functionning ul li::before {
        left: -2%;
        top: 29%;
      }
      .restaurants .box-restaurant {
        height: 20vw;
        width: 47%;
      }
      .menu-content h3,
      .menu-content p {
       font-size: 1.1em;
      }
      .price {
       font-size: 1.1em;
      }
      .choice-1,
      .choice-2,
      .choice-3,
      .choice-4{
        height: 70px;
        width: 94%;
      }
      
      #button-commander{
        margin-left: 43%;
        font-size: 1.2em;
      }
      }
  
      @media screen and (min-width: 2560px) {
        #button-commander{
          margin-left: 47%;
          
        }
        } 